.Subscribed-Subscription-wrapper{
    min-height: 90px;
    width: 100%;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    margin-bottom: 20px;
}

.Subscribed-Subscription__card{
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid rgb(201, 201, 201);
    display: flex;
    padding: 10px;
    position: relative;
}

.Subscribed-Subscription__id{
    width: 20%;
    font-size: 13px;
}

.Subscribed-Subscription__product-type-startDate,
.Subscribed-Subscription__License-endDate{
    width: 30%;
    font-size: 14px;
    height: 100%;    
}

.Subscribed-Subscription__product,
.Subscribed-Subscription__License{
    font-weight: 700;
    height: 50%;
}

.Subscribed-Subscription__startDate,
.Subscribed-Subscription__endDate{
    font-size: 13px;
    height: 50%;
}

.Subscribed-Subscription__Validity{
    width: 20%;
    height: 100%;
}

.Subscribed-Subscription__state{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(248, 248, 248);
}

.ACTIVE{
    background-color: #7ED321;
}

.EXPIRED{
    background-color: #ED1C23;
}

@media screen and (max-width: 800px){
    .Subscribed-Subscription__card{
        flex-flow: row wrap;
        gap: 10px;
    }

    .Subscribed-Subscription__id{
        width: 100%;
        line-height: 30px;
    }

    .Subscribed-Subscription__Validity{
        position: absolute;
        right: 0;
        top: 0;
        height: fit-content;
        width: fit-content;
    }

    .Subscribed-Subscription__state{
        width: 80px;
        font-size: 12px;
    }

    .Subscribed-Subscription__product-type-startDate,
    .Subscribed-Subscription__License-endDate{
        min-width: 150px;
        width: calc(50% - 10px);
    }
}