.ProductCard-wrapper{
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.ProductCard-wrapper__head{
    height: 50px;
}

.ProductCard-wrapper__head__product-name{
    height: 100%;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.ProductCard-wrapper__body{
    margin-top: 10px;
    padding: 20px;

}

.ProductCard-wrapper__preview-img{
    height: 300px;
    background-color: rgb(206, 206, 206);
    padding: 20px;
}

.ProductCard-wrapper__description{
    margin-top: 10px;
}

.ProductCard-wrapper__description span{
    max-width: 100%;
    text-align: center;
}