.SubscriptionDetails-wrapper{
    width: 100%;
}
.SubscriptionDetails__heading{
    line-height: 25px;
    border-bottom: 1px solid rgb(216, 216, 216);
    width: 100%;
    font-size: 22px;
}

.SubscriptionDetails__list{
    margin-top: 20px;
    max-width: 700px;
    width: 100%;
}