.table{
    width: 1000px;
}

.head{
    height: 100px;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.cell,.rowcell{
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    width: 100%;
    height: 50px;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.rowcell{
    background-color: #0C263650;
}

.cell:nth-child(1),.rowcell:nth-child(1){
    justify-content: start;
    border-right: 1px solid black;
    background-color: transparent;
}

.rowcell:nth-child(1){
    font-weight: 600;
}