.header{
    height: 70px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logoNavWrapper{
    display: flex;
    align-items: center;
}

.logo{
    height: 60px;
    width: auto;
}

.toLink{
    margin-left: 50px;
    font-weight: 700;
}

.signInSignUpWrapper{
    width: 200px;
    height: 80%;
    display: flex;
    align-items: center;
}

.signInWrapper,
.signUpWrapper{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.signInWrapper:hover,
.signUpWrapper:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.signInWrapper{
    background-color: #EAEAEC;
}

.signUpWrapper{
    background-color: #FF070750;
}

@media screen and (max-width: 800px){
    .signInSignUpWrapper{
        position: relative;
        background-image: url("../../icons/menu.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        display: block;
    }

    .signInWrapper,
    .signUpWrapper{
        width: 100px;
        height: 30px;
        position: absolute;
        right: 0;
        margin-right: 0;
        border-radius: 0;
        display: none;
    }
    .signInWrapper{
        top: 30px;
    }

    .signUpWrapper{
        top: 60px;
    }

    .signInSignUpWrapper:hover{
        .signInWrapper,
        .signUpWrapper{
            display: flex;
        }
        
    }
}