.PrivacyPolicy-wrapper{
    padding: 30px;
    width: 100%;
}

.PrivacyPolicy-wrapper__heading {
    border-bottom: 1px solid rgb(185, 185, 185);
    padding: 10px 0;
}

.PrivacyPolicy-wrapper__container{
    margin: 20px 0;
}

.PrivacyPolicy-wrapper__item{
    margin: 20px 0;
    display: grid;
    grid-column: 1fr;
    gap: 10px;
}