.Account{
    width: 100%;
    padding: 30px;
}

.Account__heading{
    padding: 0 5px;
}

.Account__menu{
    position: relative;
}

.Account-details-wrapper{
    margin-top: 30px;
    display: flex;
    position: relative;
}

.Account-details-wrapper__nav,
.Account-details-wrapper__details{
    padding: 20px 0px;
}

.Account-details-wrapper__nav{
    width: 200px;
}

.Account-details-wrapper__nav__avator-username{
    height: 150px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.Account-details-wrapper__nav__avator{
    height: 70%;
}

.Account-details-wrapper__nav__avator img{
    height: 80%;
    width: auto;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
    border: 1px solid black;
}

.Account-details-wrapper__nav__username{
    font-size: 15px;
    font-weight: 600;
    height: 30%;
}

.Account-details-wrapper__nav__btns-wrapper__acc-det--sign-out{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.Account-details-wrapper__nav__btns-wrapper__acc-det--sign-out span{
    padding: 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.acc-btn-icon{
    height: 18px;
    width: auto;
    margin-right: 5px;
}

.Account-details-wrapper__nav__btns-wrapper__acc-det--sign-out:hover{
    background-color: #140A35;
    color: white;
}

.Account-details-wrapper__details{
    padding: 20px 30px;
    width: calc(100% - 200px);
}

@media screen and (max-width: 800px) {
    .Account__heading{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Account__menu{
        background-image: url("../../icons/menu.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        left: 0;
        top: -60px;
        cursor: pointer;
    }

    .Account-details-wrapper__nav{
        min-height: 500px;
        height: 100%;
        width: 250px;
        display: none;
        position: absolute;
        left: -10px;
        top: 0;
        background-color: white;
        z-index: 100;
        box-shadow: 10px 0 5px rgba(0, 0, 0, 0.575);    
    }

    .Account__menu:hover > .Account-details-wrapper__nav{
        display: block;
        top: 60px;
    }

    .Account-details-wrapper__details{
        width: 100%;
        padding: 20px 0px;
    }    
}
